<div class="jumbotron no-gutters" >
  <div class="container-fluid">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8 text-center">
<div style="width: 300px;">
  <h3> Filtr </h3>
  <form (ngSubmit)="onSubmit()">

          <div class="form-group" >
          <label for="type">Typ użytkownika: </label>
          <input type="text" class="form-control" id="type" required [(ngModel)]="usertype" name="type">
         </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </div>

  </form >
  <div [hidden]="submitted"  class="navbar navbar-light">

      <h5> Konta Premium </h5>
        <li *ngFor="let user of user2">
          <h4> id: {{user.idUser}} <br> login: {{user.login}} mail: {{user.mail}} </h4> <br>

  </div>

  <div [hidden]="!submitted"  class="navbar navbar-light" >

      <h5> Konta premium - wyszukiwanie </h5>
        <li *ngFor="let user of user">
          <h4> id: {{user.idUser}} <br> login: {{user.login}} mail: {{user.mail}} </h4> <br>

  </div>
</div>
  </div>
        <div class="jumbotron" >
          <div class="col-md-2">
            <br>
            <img src="assets/businessman.png" class="img" width="172" height="172">
          </div>
        </div>
</div>
    </div>
  </div>
</div>


