<p> Wiadmość </p>
<div class="jumbotron no-gutters">
  <div class="container-fluid">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8 text-center">
          <div *ngIf="message">
            <div>

              <div>
                <label> OD : </label> {{message}}
              </div>

              <div>
                <label> Tytuł : </label> {{message}}
              </div>

              <div>
                <label> Treść : </label> {{message}}
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)='Delete()'> Usuń</button>
                <button type="button" class="btn btn-primary" (click)='newMessage()'> Odpowiedz</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
