<div class="jumbotron no-gutters" >
  <div class="container-fluid">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8 text-center">
<h3> Tworzenie pytania  </h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

          <div >
            <label>Tytuł Ankiety : </label> {{survey.title}}
          </div>

          <div >
            <label >Liczba pytań: </label> {{survey.numberofquestions}}
          </div>

          <div >
            <label >Autor : </label> {{comapny.companyName}}
          </div>


      <div [hidden]="submitted" >
        <ul>
             <label >Pytanie : </label>
          <li *ngFor="let questions of question">
              <h4>{{questions.title}} </h4>
          </li></ul>
                <div>
                <label><input type="checkbox" name="answerOne"> odp 1 </label>
                </div>

                <div>
                <label><input type="checkbox" name="answerTwo"> odp 1 </label>
                </div>

                <div>
                <label><input type="checkbox" name="answerThree"> odp 1 </label>
                </div>

                <div>
                <label><input type="checkbox" name="answerCorrect"> odp 1 </label>
                </div>


      </div>
        <button type="submit" class="btn btn-success">Wyślij</button>


  </form>
</div>

<div [hidden]="!submitted">
  <div class="form-group">
  <h4>Dodawanie pytania zakończone pomyślnie!</h4>
    <button class="btn btn-primary" >  Cofnij  </button>
  <button class="btn btn-primary" >  Pomiń  </button>
  </div>
</div>
  </div>
        <div class="jumbotron" >
          <div class="col-md-2">
            <br>
            <img src="assets/businessman.png" class="img" width="172" height="172">
          </div>
        </div>
</div>
    </div>
  </div>
</div>
