<div id="tresc">
  <div class="dane">
    <div *ngIf="empolyee">
      <div>

        <label>Imię : </label> {{empolyee.firstName}}
        <input [hidden]="!submitted" type="text" class="form-control" id="login" required
               [(ngModel)]="empolyee.firstName" name="login">
      </div>

      <div>
        <label>Naziwsko : </label> {{empolyee.lastName}}
        <input [hidden]="!submitted" type="text" class="form-control" id="password" required
               [(ngModel)]="empolyee.lastName" name="password">
      </div>

      <div>
        <label>Adres : </label> {{empolyee.address}}
        <input [hidden]="!submitted" type="text" class="form-control" id="mail" required [(ngModel)]="empolyee.address"
               name="mail">
      </div>

      <div>
        <label>PESEL : </label> {{empolyee.pesel}}
      </div>

      <div>
        <label>Kursy : </label> {{empolyee.course}}
      </div>

      <div>
        <label>Numer Telefonu : </label> {{empolyee.phonenumber}}
      </div>

      <div>
        <label>Certyfikaty : </label> {{empolyee.certificate}}
      </div>

      <div>
        <label>CV: </label> {{empolyee.cv}}
      </div>

      <div>
        <button type="update" class="btn btn-primary" *ngIf="!submitted" (click)='OnSubmit()'>Aktualizuj dane</button>
        <button type="confirm" class="btn btn-primary" *ngIf="submitted" (click)='OffSubmit()'>Zatwierdz</button>
      </div>
    </div>
  </div>
</div>

