<div id="tresc">
  <div class="dane">
    <h3> Tworzenie pytania </h3>
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">

        <div>
          <div class="form-group">
            <label for="question">Pytanie: </label>
            <input type="text" class="form-control" id="question" required [(ngModel)]="question" name="question">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="lastName">Odpowiedz prawidłowa: </label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="question.answerCorrect"
                   name="lastName">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="mail">Odpowiedz druga: </label>
            <input type="text" class="form-control" id="mail" required [(ngModel)]="question.answerOne" name="mail">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="phoneNumber">Odpowiedz Trzecia: </label>
            <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="question.answerTwo"
                   name="phoneNumber">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="address">Odpowiedz Czwarta: </label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="question.answerThree"
                   name="address">
          </div>
        </div>
        <button type="submit" class="btn btn-success" (click)="createQuestion()"> Dodaj</button>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>Dodawanie zakończone pomyślnie!</h4>
      <button class="btn btn-primary" (click)="GoToKonto()"> Zakończ</button>
    </div>
  </div>
</div>

