<div id="tresc" >
<div class="dane">
<h3> Napisz wiadomość do administracji </h3>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="email">e-mail</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="me.mailSender" name="email">
          </div>

        <div class="form-group">
          <label for="name">name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="me.title" name="name">
        </div>

        <div class="form-group">
          <label for="feedback">feedback</label>
          <textarea type="text" class="form-control" id="feedback" rows="8" required [(ngModel)]="me.textMessage" name="feedback"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" >Wyślij</button>
    <br/><br/>
    <div [hidden]="submitted2">
      <button class="btn btn-primary" (click)="newMessage()"> Nowa wiadmosc </button>
    </div>

  </form>
</div>
</div>
</div>
