<h3> Wiadmość </h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <h3></h3>
    <div class="form-group">
      <label for="email">e-mail</label>
      <h3></h3>
      <input type="text" class="form-control" id="email" required [(ngModel)]="message.mailSender" name="email">
    </div>
    <h3></h3>
    <div class="form-group">
      <label for="name">name</label>
      <h3></h3>
      <input type="text" class="form-control" id="name" required [(ngModel)]="message.title" name="name">
    </div>
    <h3></h3>
    <div class="form-group">
      <label for="feedback">feedback</label>
      <h3></h3>
      <input type="text" class="form-control" id="feedback" required [(ngModel)]="message.textMessage" name="feedback">
    </div>
    <button type="submit" class="btn btn-success">Wyślij</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Wysłałes wiadmosc!</h4>
  <button class="btn btn-success" (click)="newMessage()">Nowa wiadmosc</button>
</div>
