<div id="tresc">
  <div class="dane">
<h3> Rejestracja </h3>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="login">Login </label>
            <input type="text" class="form-control" id="login" required [(ngModel)]="user.login" name="login">
          </div>

        <div class="form-group">
          <label for="mail">E-mail</label>
          <input type="text" class="form-control" id="mail" required [(ngModel)]="user.mail" name="mail">
        </div>

        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
        </div>

        <div>
        <button type="submit" class="btn btn-primary"> Zatwierdź </button>
        </div>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>Wybierz rodzaj konta: </h4>
  <button class="btn btn-primary" (click)="kontoFirma()"> Konto dla Firm </button> <br/>
  <button class="btn btn-primary" (click)="kontoKlient()"> Konto dla Klienta  </button> <br/>
</div>
  </div>
</div>
