<div id="tresc">
  <div class="danekonta">

    <h3> Konto Użytkownika </h3> <br/> <br/>
    <div *ngIf="user">
      <div class="boximg">
        <img src="assets/businessman.png" class="img" width="172" height="172">
      </div>
      <br/> <br/>
      <h3> Dane Konta </h3> <br/> <br/>
      <div class="boxCompy">

        <div class="itemComp">
          <label>Login : </label> {{user.login}}
          <input [hidden]="!submitted" type="text" class="form-control" id="login" required [(ngModel)]="user.login"
                 name="login"> <br/>
        </div>

        <div class="itemComp">
          <label>Hasło : </label> {{user.password}}
          <input [hidden]="!submitted" type="text" class="form-control" id="password" required
                 [(ngModel)]="user.password" name="password"> <br/>
        </div>

        <div class="itemComp">
          <label>E-mail : </label> {{user.mail}}
          <input [hidden]="!submitted" type="text" class="form-control" id="mail" required [(ngModel)]="user.mail"
                 name="mail"> <br/>
        </div>

        <div class="itemComp">
          <label>Dostępność konta : </label>
          <ng-template [ngIf]="user.active" [ngIfElse]="elseBlock"> aktywny</ng-template>
          <ng-template #elseBlock> zablokowane</ng-template>
          <br/>
        </div>

        <div class="itemComp">
          <label>Typ użytkownika : </label>
          <ng-template [ngIf]="user.usertype==1" [ngIfElse]="elseBlock2"> Premium</ng-template>
          <ng-template #elseBlock2> Podstawowy</ng-template>
          <br/>
        </div>

      </div>
    </div>
    <br/>
    <br/>
    <div *ngIf="empolyee">
      <h3> Dane Osobiste </h3>
      <div class="boxCompy">

        <div class="itemComp">
          <label>Imię : </label> {{empolyee.firstName}}
          <input [hidden]="!submitted" type="text" class="form-control" id="firstName" required
                 [(ngModel)]="empolyee.firstName" name="firstName">
        </div>

        <div class="itemComp">
          <label>Naziwsko : </label> {{empolyee.lastName}}
          <input [hidden]="!submitted" type="text" class="form-control" id="lastName" required
                 [(ngModel)]="empolyee.lastName" name="lastName">
        </div>

        <div class="itemComp">
          <label>Adres : </label> {{empolyee.address}}
          <input [hidden]="!submitted" type="text" class="form-control" id="address" required
                 [(ngModel)]="empolyee.address" name="address">
        </div>

        <div class="itemComp">
          <label>PESEL : </label> {{empolyee.pesel}}
        </div>

        <div class="itemComp">
          <label>Kursy : </label> {{empolyee.course}}
        </div>

        <div class="itemComp">
          <label>Numer Telefonu : </label> {{empolyee.phonenumber}}
        </div>

        <div class="itemComp">
          <label>Certyfikaty : </label> {{empolyee.certificate}}
        </div>

        <div class="itemComp">
          <label>CV: </label> {{empolyee.cv}}
        </div>
        <br/><br/>
      </div>
    </div>

    <div *ngIf="cv">
      <h3> Twoje CV </h3>
      <div class="boxCompy">
        <div class="itemComp">
          <label>Edukacja: </label>{{cv.dane}}
        </div>

        <div class="itemComp">
          <label>Edukacja: </label>{{cv.education}}
        </div>

        <div class="itemComp">
          <label>Zainteresowania: </label>{{cv.hobbies}}
        </div>

        <div class="itemComp">
          <label>Umiejętności: </label>{{cv.skills}}
        </div>


        <div class="itemComp">
          <label>Doświadczenie: </label>{{cv.workExperience}}
        </div>
      </div>
      <br/><br/>
    </div>

    <div *ngFor="let application of application">
      <h3> Twoje zgłoszenia </h3>
      <div class="itemComp">
        <div class="form-group">
          <label>Firma: </label>{{application.firstName}}
        </div>
      </div>

      <div class="itemComp">
        <div class="form-group">
          <label>Tytuł: </label>{{application.lastName}}
        </div>
      </div>
      <br/><br/>
    </div>
    <div *ngIf="empolyee" class="form-group">
      <button type="update" class="btn btn-primary" *ngIf="!submitted" (click)='OnSubmit()'> Pokaz CV i zgłoszenia
      </button>
      <button type="confirm" class="btn btn-primary" *ngIf="submitted" (click)='OffSubmit()'> Zatwierdz</button>
    </div>
  </div>

</div>

