<div id="nav">
  <h1 style="color: black">Szukaj Pracy</h1>
  <h3>{{title}}</h3>
    <ul>
      <li> <button  style="color: black"  routerLink="user" class="btn btn-primary active" role="button" routerLinkActive="active">  Uzytkownicy  </button> </li>
      <li> <button style="color: black" routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">  Rejestracj  </button> </li>
      <li> <button style="color: black" routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">  Logowanie </button> </li>
      <li> <button style="color: black" routerLink="findbyusertype" class="btn btn-primary active" role="button" routerLinkActive="active">  Premium  CV </button> </li>
      <li> <button style="color: black" routerLink="addadvertisement" class="btn btn-primary active" role="button" routerLinkActive="active">  Dodaj Ogloszenie </button> </li>
      <li> <button style="color: black" routerLink="advertisement" class="btn btn-primary active" role="button" routerLinkActive="active">  Ogloszenia </button> </li>
      <li> <button style="color: black" routerLink="mail" class="btn btn-primary active" role="button" routerLinkActive="active">  Wiadomosc  </button> </li>
      <li> <button style="color: black" routerLink="employee" class="btn btn-primary active" role="button" routerLinkActive="active">  Aplikujaćy </button> </li>
      <li> <button style="color: black" routerLink="company" class="btn btn-primary active" role="button" routerLinkActive="active">  Firmy </button> </li>
    </ul>
  <router-outlet></router-outlet>
</div>
