<div class="jumbotron no-gutters">
  <div class="container-fluid">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8 text-center">>
          <h3>CV Użytkownika</h3>
          <div *ngFor="let cv of cvs | async" style="width: 300px;">
            <ul>
              <li>
                <app-cv-detalis [cv]='cv'></app-cv-detalis>
              </li>
            </ul>
          </div>
        </div>
        <div class="jumbotron">
          <div class="col-md-2">
            <br>
            <img src="assets/businessman.png" class="img" width="172" height="172">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
