<div id="tresc">
  <h3> Logowanie </h3>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()">
      <div class="dane">
        <div class="form-group">
          <label class="col-form-label" for="username">Login </label>
          <input type="text" class="form-control" name="username" placeholder="Login" required [(ngModel)]="username"
                 id="username">
        </div>
        <br/>

        <div class="form-group">
          <label for="password">Hasło: </label>
          <input type="text" class="form-control" id="password" required [(ngModel)]="password" name="password">
        </div>
        <br/>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()"> Zatwierdź</button>
        </div>
        <br/>
      </div>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h5> Zalogowany!</h5>
    <button class="btn btn-primary" (click)="logOut()"> Wyloguj</button>
  </div>
</div>




