<div id="tresc">
  <div class="dane">
    <h3> Tworzenie konta Klienta </h3>
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()">

        <div>
          <div class="form-group">
            <label for="lastName">Imie: </label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="employeee.firstName"
                   name="firstName">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="lastName">Naziwsko: </label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="employeee.lastName"
                   name="lastName">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="address">Szczegóły adresu: </label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="employeee.address"
                   name="address">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="pesel"> Pesel: </label>
            <input type="text" class="form-control" id="pesel" required [(ngModel)]="employeee.pesel" name="pesel">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label for="phonenumber">Numer Telefonu: </label>
            <input type="text" class="form-control" id="phonenumber" required [(ngModel)]="employeee.phonenumber"
                   name="phonenumber">
          </div>
        </div>
        <button type="submit" class="btn btn-primary"> Zatwierdź</button>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h4>Dodawanie konta zakończone pomyślnie!</h4>
      <div class="form-group">
        <button class="btn btn-primary" (click)="GoToCV()"> Stwórz CV</button>
        <button class="btn btn-primary" (click)="GoToAccount()"> idz do Konta</button>
      </div>
    </div>
  </div>
</div>

