<div class="jumbotron no-gutters" >
  <div class="container-fluid">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8 text-center">
    <div class="row">
<table>
      <tr>
        <td>
          <div>
          </div>
        </td>
        <td>
          <div>
            <label><input type="checkbox"  id="ch1" onchange=searchBudownictwo()
            > Budownictwo </label>
          </div>
        </td>
        <input type="checkbox" id="chbx" onchange="checkbox_changed()">
        <td>
          <div>
            <label><input type="checkbox" (click)="searchIT()"> IT </label>
          </div>
        </td>
        <td>
          <div>
            <label><input type="checkbox" (click)="searchPrawo()"> Prawo </label>
          </div>
        </td>
        <td>
          <div>
            <label><input type="checkbox" (click)="searchFinanse()"> Finanse </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>

          </div>
        </td>
        <td>
          <div>
            <label><input type="checkbox" (click)="searchStarzysta()" > Starzysta </label>
          </div>
        </td>
        <td>
          <div>
            <label><input type="checkbox" (click)="searchSpecjalista()" > Specjalista </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>

          </div>
        </td>
        <td>
          <div>
            <label> <input type="checkbox" (click)="searchStarzysta()"> Pełen Etat </label>
          </div>
        </td>
        <td>
          <div>
            <label><input type="checkbox" (click)="searchStarzysta()"> Cześć Etatu </label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  </div>
</div>
