
<div id="karta">
    <div style="border:4px solid white;" >
      <div class="card border-primary mb-3 " >
        <div class="card-header">  CV  </div>
        <div class="card-body" >
<div *ngIf="cv">

        <div>
          <div class="form-group">
            <label >Imie i Nazwisko:  </label> {{cv.dane}}
          </div>
        </div>

        <div>
          <div class="form-group">
            <label >Edukacja: </label>{{cv.education}}
          </div>
        </div>

        <div>
          <div class="form-group">
            <label >Zainteresowania: </label>{{cv.hobbies}}
          </div>
        </div>

        <div>
          <div class="form-group">
            <label >Umiejętności: </label>{{cv.skills}}
          </div>
        </div>

        <div>
          <div class="form-group">
            <label >Doświadczenie: </label>{{cv.workExperience}}
             </div>
        </div>
</div>
</div>
  </div>
</div>
    </div>


