
<div class="jumbotron no-gutters" >
  <div class="container-fluid">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-md-8 text-center">
          <h2> <strong>Praktyki i staże</strong></h2>
          <p>
            Na praktyki i staże zawodowe decyduje się 68 proc. studentów dziennych - wynika z raportu opublikowanego przez PARP Studenci - przyszłe kadry polskiej gospodarki, podsumowującego jedną z części projektu "Bilans Kapitału Ludzkiego". Do najpopularniejszych zawodów zaliczyć można specjalistę nauczania i wychowania (16 proc. odbywających praktykę/staż), sekretarkę, operatora urządzeń biurowych (14 proc.), specjalistę z dziedziny prawa, dziedzin społecznych i kultury (9 proc.).
          </p>
        <br>
          <img src="assets/studenci.jpg" class="img" width="700" height="700">
          <br>
         <h3> <strong> Praca zarobkowa</strong></h3>
          <p>
          O ile praktyki i staże odbywa 68 proc.
            studentów w naszym kraju, o tyle na pracę zarobkową decyduje się mniej,
            bo 42 proc. uczących się na studiach wyższych - wynika z raportu Studenci -
            przyszłe kadry polskiej gospodarki. Dane GUS opublikowane w 2010 roku są zbliżone -
            równocześnie uczy się i pracuje 38 proc. studentów.

          Najczęściej pracę zarobkową podejmują studenci nauk humanistyczno-społecznych.
            Rzadziej pozwalają sobie na to "umysły ścisłe".
            Ci jednak mają zdecydowanie wyższe aspiracje finansowe i częściej niż humaniści skłonni są do zakładania własnego biznesu.

          Młodzi ludzie obejmują zazwyczaj niskie stanowiska,
            przeznaczone dla osób z wykształceniem średnim. Głównym celem takiej aktywności zawodowej jest zarobek,
            a nie zdobywanie doświadczenia, które mogłoby być wykorzystane w przyszłej karierze. Studenci najczęściej
            podpisują umowę zlecenie lub umowę o dzieło (71 proc. wszystkich pracujących).

          Umowy cywilnoprawne są powszechną formą zatrudnienia studentów wykorzystywaną przez agencje pracy tymczasowej.
            Według danych Ministerstwa Pracy i Polityki Społecznej,
            w 2010 roku ponad połowa pracowników tymczasowych w Polsce (około 200 tys.) to osoby,
            które nie przekroczyły 25. roku życia. Znaczna część z nich to studenci,
            dla których jest to dobry sposób na szybki zastrzyk gotówki.
            Umowa zlecenie podpisywana z żakiem stanowi bardzo elastyczne rozwiązanie dla osoby studiującej,
            jak również niższe koszty dla firmy pośredniczącej w zatrudnieniu oraz samego pracodawcy.

          52 proc. wszystkich pracujących studentów wykonuje zawód pracownika usług lub sprzedawcy,
            16 proc. to pracownicy biurowi, kolejne 16 proc. - pracownicy przy pracach prostych.
            Specjaliści stanowią 22 proc. wszystkich pracujących żaków w Polsce.
            Najpopularniejsze zawody w tej grupie pracowników to specjalista nauczania i wychowania,
            specjalista z dziedziny prawa, dziedzin społecznych i kultury, specjalista nauk fizycznych,
            matematycznych i technicznych, specjalista ds. ekonomicznych i zarządzania.
        </p>
        <br>
          <img src="assets/stud.jpg" class="img" width="700" height="700">
          <br>
            <h3> <strong> Ile studenci są w stanie zarobić "na rękę"? </strong></h3>
          <p>
          Okazuje się, że płace netto w 48 proc. przypadków zamykają się w 1000 zł. 35 proc.
            zdobywających wyższe wykształcenie zarabia w przedziale od 1001 zł do 2000 zł. 8 proc.
            badanych uzyskuje zarobki wyższe niż 3000 zł.
            Najatrakcyjniejszymi wynagrodzeniami mogą poszczycić się studenci pracujący w grupie zawodów:
            robotnicy przemysłowi i rzemieślnicy, operatorzy i monterzy maszyn i urządzeń.
          </p>
            <br>
              <img src="assets/sta.jpg" class="img" width="700" height="700">
            <br>
          <p>
          Powyższe zarobki pozwalają utrzymać się w dużym mieście. Tym bardziej, że wynajęcie kwatery, żywność, czy po prostu imprezowanie sporo kosztują. Jak wynika z badań EUROSTUDENT z 2011 roku, 72 proc. polskich żaków samodzielnie reguluje comiesięczne opłaty. Aby tego dokonać poświęca pracy średnio 50 godzin (studia I stopnia) lub 53 godziny tygodniowo (studia II stopnia).
          </p>
              <a href="https://biznes.interia.pl/praca/news-studenci-na-polskim-rynku-pracy,nId,723012#utm_source=paste&utm_medium=paste&utm_campaign=chrome"> Czytaj więcej </a>
           </div>
            <div class="jumbotron" >
              <div class="col-md-2">
                <br>
                <img src="assets/businessman.png" class="img" width="172" height="172">
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

